html, body,
h1, h2, h3, h4, h5, h6,
ul, li {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

ul, li {
  list-style-type: none;
}

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

header {
  padding: 40px 0 40px 80px;
  background-color: black;
  color: white;
}

header h1, nav {
  display: inline-block;
}

header > nav > ul {
  position: relative;
}

header nav li.trigger-link {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

ul.sub-menu {
  width: 300px;
  margin-top: 20px;
  display: none;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  line-height: normal;
  -webkit-transition: opacity 0.5s linear 0.3s;
  -moz-transition: opacity 0.5s linear 0.3s;
  -ms-transition: opacity 0.5s linear 0.3s;
  -o-transition: opacity 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s;
  z-index: 999;
}

ul.sub-menu-change {
  width: 300px;
  visibility: visible;
  opacity: 1;
}
